/* color scheme:
    lavender blush: #F3E8EE
    ash gray: #BACDB0
    cambridge blue: #729B79
    payne's gray: #475B63
    raisin black: #2E2C2F
 */

body {
  background-color: #BACDB0;
  color: #2E2C2F;
  padding: 20px;
}

.App {
  background-color: #729B79;
  width: 80%;
  height: 80%;
  margin: 0 auto;
  border-radius: 20px;;
}

header {
  text-align: center;
  padding: 20px;
  width: 80%;
  margin: 0 auto;
}

h1 {
  padding: 20px;
}

h2 {
  padding: 20px;
}

main {
  text-align: center;
  width: 50%;
  margin: 0 auto;
  padding: 40px;
}

button {
  background-color: #475B63;
  color: #F3E8EE;
  padding: 10px 20px 10px 20px;
  border-radius: 10px;
}

.form-box {
  background-color: #F3E8EE;
  color: #2E2C2F;
}